.LocationBox {
  padding: 10px 16px;
  color: #f1f1f1;
}

.LocationText {
color: black;
}

.InputTextBox{
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin: 2px;
  padding: 5px;
  width: 260px;
  height: 30px;
  }


.SubmitButton {
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin: 2px;
  padding: 5px;
  width: 125px;
  height: 30px;
}